.hamburger,
.mobile-nav-link{
    color:var(--color-six)
}

.mobile-nav-link{
    font-size:x-large;
    transition: all .25s linear;
    position: relative;
}

.mobile-nav-link:hover{
    color:var(--color-seven)
}

.mobile-nav-link::before{
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    border-bottom: solid 1px var(--color-six);
    height: auto;
    transition: all .25s linear;
}

.mobile-nav-link:hover::before{
    width: 50%;
}

.mobile-nav-link::after{
    content: '';
    position: absolute;
    width: 0;
    right: 0;
    bottom: 0;
    border-bottom: solid 1px var(--color-six);
    height: auto;
    transition: all .25s linear;
}

.mobile-nav-link:hover::after{
    width: 50%;
}

.dropdown{
    background-color: var(--color-eight);
    border-bottom: var(--border-one);
    display: flex;
    flex-direction: column;
    color:var(--color-six)
}