.about-title{
    color: var(--color-seven);
}

.awards{
    border-color: var(--color-nine);
}

.year{
    color: var(--color-seven);
}

.award,
.bio{
    color: var(--color-six);
}

.about-vince-photo{
    border: var(--border-one);
    filter: grayscale(50%);
}