.stream-music,
.purchase-music-title,
.latest-release-music{
    color:var(--color-six)
}

.music-title{
    color:var(--color-seven)
}

.album-cover{
    filter: grayscale(75%);
    transition: all .5s linear;
}

.album-cover:hover{
    filter: grayscale(0);
}


