.venmo-icon,
.time,
.city-venue,
.mobile-city,
.donation-text,
.latest-release,
.home-video,
.mobile-venue{
    color: var(--color-six);
}

.upcoming-shows-title{
    color: var(--color-seven);
}

.venmo-icon{
    transition: all .5s linear;
}

.venmo-icon:hover{
    color:var(--color-seven)
}

.latest-release-photo{
    filter: grayscale(70%);
    transition: all .5s linear;
}

.latest-release-photo:hover{
    filter: grayscale(0);
}

.show{
    border-color: var(--color-nine);
}
.mobile-date,
.mobile-ticket-link{
    color: var(--color-seven);
    transition: all .5s linear;
    position: relative;
}

.date-time{
    color: var(--color-seven);
}

.mobile-upcoming-shows{
    border-bottom: solid 1px var(--color-six);
}