.nav-links{
    color:var(--color-six)
}

.nav-link{
    transition: all .5s linear;
    position: relative;
}

.nav-link:hover{
    color: var(--color-seven);
}

/* .nav-link::before{
  content: '';
  position:absolute;
  bottom: 0;
  left: 0;
  border-bottom:solid 1px var(--color-seven);
  width:0;
  height: auto;
  transition: all .25s linear;
}

.nav-link::after{
  content: '';
  position:absolute;
  bottom: 0;
  right: 0;
  border-bottom: solid 1px var(--color-seven);
  width:0;
  height: auto;
  transition: all .25s linear;
}

.nav-link:hover::before{
    width: 50%;
}

.nav-link:hover::after{
    width: 50%;
} */